<h1>Pickup school</h1>
<div class="row align-items-center border border-primary">
    <div class="col">
        <h2>Carril 1</h2>
        <div class="row align-items-center">
            pruebas
        </div>
    </div>
    <div class="col">
        <h2>Carril 2</h2>
        <div class="row align-items-center">
            pruebas
        </div>
    </div>
    <div class="col">
        <h2>Carril 3</h2>
        <div class="row align-items-center">
            pruebas
        </div>
    </div>
</div>